.wrapper{
    width: var(--w-85);
    display: flex;
    border-radius: 20px;
}

.search{
    padding: 1rem 1.25rem;
    border-radius: var(--br) 0 0 var(--br);
    border: none;
    outline: none;
    width: 85%;
}

.search:hover{
    cursor: pointer;
}

.btn{
    border-radius: 0 var(--br) var(--br) 0;
    border: none;
    background-color: var(--clr-neutral-900);
    width: 15%;
    display: grid;
    place-content: center;
}

.btn:hover{
    background-color: var(--clr-neutral-800);
    cursor: pointer;
}

@media (min-width: 576px) {
    .wrapper{
        width: 40%;
    }

    .search{
        font-size: var(--fs-18px);
    }
}